
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Cam'ron Rollins</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  </head>

  <body style="background-color: #FFFFFF;">
    <table cellspacing="0000.5">
        <td><img src="https://pre00.deviantart.net/1d98/th/pre/i/2018/226/2/5/vegeta_super_saiyan_blue_evolution_by_aashananimeart-dck47rs.png" alt="vegeta"></td>
        <td><hi>Home</hi>
        <p class="home"><em>Hello, my name is Cam'ron Rollins and this is my website. I've made many different webpages that explain who I am, what are my hobbies, and what I want to do as a future job. I've also included the I'm attending called the Hidden Genius Project. This program is for young black men, I've also included videos explaing the Hidden Genius Project. There is also a page explaing coding and the basics of coding. And there is a page involiving the people who are attending the program with me. I hope you enjoy my website.</em>
        <p>
          <link href="css/style.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
          <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand decor logo" href="#">MV</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><u><a href="file:///Users/hgpmac150/Desktop/Camron's_summer_one_project/home.page.html">Home</a></u></li>
                  <li><a href="index.html">About</a></li>
                  <li><a href="index.html">Videos</a></li>
                  <li><a href="index.html"<a>Why Me?</a></li>
                  <li><a href="index.html">Let's do it!</a></li>
                  <li><u><a href="file:///Users/hgpmac150/Desktop/Camron's_summer_one_project/my.brothers.page.html">My Brothers</a></u></li>
                </ul>
              </div>
            </div>
            </nav>
</html>
              <!-- Collect the nav links, forms, and other content for toggling -->
